<div [ngClass]="[navOpen ? 'menu ': 'menu active']">
  <div (click)="toggle()" class="menu-title">
    Menu
    <mat-icon>menu</mat-icon>
  </div>
    <ul class="nav">
        <li>
            <a  class="navLink"  routerLink="/users"><mat-icon class="menuIcon1">person_pin</mat-icon><span>Users</span></a>
        </li>
        <li>
            <a   class="navLink"  routerLink="/locations" ><mat-icon class="menuIcon1">location_on</mat-icon><span>Locations</span></a>
        </li>
        <li>
            <a   class="navLink"  routerLink="/barcodes" [queryParams]="{mode:'all'}"><mat-icon class="menuIcon1">airplanemode_active</mat-icon><span>MODE 1/3</span></a>
        </li>
        <li>
            <a   class="navLink"  routerLink="/barcodes" [queryParams]="{mode:'compare'}"><mat-icon class="menuIcon1">airplanemode_active</mat-icon><span>MODE2</span></a>
        </li>
        <li>
            <a  class="navLink"  routerLink="/upload"><mat-icon class="menuIcon1">update</mat-icon><span>Upload csv</span></a>
        </li>
        <li>
            <a  class="navLink"  href="../"><mat-icon>youtube_searched_for</mat-icon><span>Scan now</span>
            </a>
        </li>
        <li>
            <a  class="navLink"  routerLink="/auth"><mat-icon> vpn_key</mat-icon><span>Log Out</span>
                </a>
        </li>
    </ul>
</div>
