<div class="barcodeDash">
  <ng-template #elseTemplate>
    <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
  </ng-template>
  <div class="barcodes-content">
    <div class="barcodes">
      <div style="width: 100%; margin-top: 5%">
        <div class="barcode-edit" *ngIf="addform == true">
          <mat-icon (click)="addform = false; createBarcode()">check</mat-icon>
          <mat-icon (click)="addform = false">settings_backup_restore</mat-icon>
          <mat-form-field [style.width.px]=100 appearance="fill">
            <mat-label>Add Location</mat-label>
            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="add.location" type="text" matInput
              placeholder="Add Location" />
          </mat-form-field>

          <mat-form-field [style.width.px]=100 appearance="fill">
            <mat-label>Add Code</mat-label>
            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="add.barcode" type="text" matInput
              placeholder="Add Code" />
          </mat-form-field>

          <mat-form-field appearance="fill" [style.width.px]=100>
            <mat-label>User</mat-label>
            <mat-select class="column-filter" id="4" [(ngModel)]="add.user_id">
              <mat-option value="{{ user.userid }}" *ngFor="let user of users">{{ user.userid }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [style.width.px]=100 appearance="fill">
            <mat-label>QTY1</mat-label>
            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="add.quantity" type="number" matInput
              placeholder="QTY1" />
          </mat-form-field>
          <ng-container *ngIf="mode=='all'">
            <mat-form-field appearance="fill" [style.width.px]=100>
              <mat-label>User2</mat-label>
              <mat-select class="column-filter" id="4" [(ngModel)]="add.user_id1">
                <mat-option value="{{ user.userid }}" *ngFor="let user of users">{{ user.userid }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field [style.width.px]=100 appearance="fill">
              <mat-label>QTY2</mat-label>
              <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="add.quantity1" type="number" matInput
                placeholder="QTY2" />
            </mat-form-field>
          </ng-container>
        </div>

        <div class="headOption">
          <div>
            <mat-menu #dropdownMenuOne="matMenu">
              <div class="customize">
                <button mat-menu-item [value]="user" ng-model="recom.demo" (click)="sortValidate(user)"
                  *ngFor="let user of validateList">
                  {{ user }}
                </button>
              </div>
            </mat-menu>
            <mat-menu #dropdownMenuvalid="matMenu">
              <div class="customize">
                <button mat-menu-item (click)="setValid('Valid')" style="color: #5fc041" value="Valid">
                  Valid
                </button>
                <button mat-menu-item (click)="setValid('Not Valid')" value="Not Valid">
                  Not Valid
                </button>
                <button mat-menu-item (click)="setValid('Wrong')" style="color: #0628a5" value="Wrong">
                  Wrong
                </button>
                <button mat-menu-item (click)="setValid('Error')" style="color: #c70006" value="Error">
                  Error
                </button>
                <button mat-menu-item (click)="setValid('All')" style="color: #0785f1" value="All">
                  All
                </button>
                <button mat-menu-item (click)="setValid('Ok')" value="Ok">
                  Ok
                </button>
              </div>
            </mat-menu>
            <button (click)="updateStockID()" mat-stroked-button value="Update STID" style="
                border: 1px solid #100e0e7d;
                border-radius: 40px;
                margin-inline: 10px;
              ">
              <span> Update STID</span>
            </button>
            <button (click)="Recalculate()" mat-stroked-button value="Recalculate" style="
                border: 1px solid #100e0e7d;
                border-radius: 40px;
                margin-inline: 10px;
              ">
              <span> Recalculate</span>
            </button>
            <button (click)="Download()" mat-stroked-button value="Export to csv" style="
                border: 1px solid #100e0e7d;
                border-radius: 40px;
                margin-inline: 10px;
              ">
              <span> Export to csv</span>
            </button>
            <button (click)="addform = true" mat-stroked-button value="Add Barcode" style="
                border: 1px solid #100e0e7d;
                border-radius: 40px;
                margin-inline: 10px;
              ">
              <span> Add Barcode</span>
              <mat-icon [ngStyle]="{ color: '#100e0e7d' }">add_circle_outline</mat-icon>
            </button>
            <button (click)="resetFilter()" mat-stroked-button value="Reset Filter" style="
                border: 1px solid #e85524;
                border-radius: 40px;
                margin-inline: 10px;
              ">
              <span> Reset Filter</span>
              <mat-icon [ngStyle]="{ color: '#100e0e7d' }">refresh</mat-icon>
            </button>
            <button (click)="applyFilter()" mat-stroked-button value="Apply Filter" style="
                border: 1px solid #e85524;
                border-radius: 40px;
                margin-inline: 10px;
              ">
              <span> Apply Filter</span>
              <mat-icon [ngStyle]="{ color: '#100e0e7d' }">search</mat-icon>
            </button>
          </div>
          <div style="margin-right: 20px">
            <mat-button-toggle-group style="margin-inline: 10px">
              <mat-button-toggle class="split-button-1">{{validateStr}}
              </mat-button-toggle>
              <mat-button-toggle class="split-button-1 drop-down-button drop_down"
                [matMenuTriggerFor]="dropdownMenuvalid">
                <mat-icon [ngStyle]="{ color: 'white' }">arrow_drop_down</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group style="margin-inline: 10px">
              <mat-button-toggle class="split-button-1">{{ checkboxStr }}
              </mat-button-toggle>
              <mat-button-toggle class="split-button-1 drop-down-button drop_down"
                [matMenuTriggerFor]="dropdownMenuOne">
                <mat-icon [ngStyle]="{ color: 'white' }">arrow_drop_down</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>

            <mat-menu #appMenu="matMenu">
              <mat-option *ngFor="let user of userList; let i = index;" [value]="user">
                <mat-checkbox [ngModel]="user.checked" (click)="sortUser(user.value)" color="primary">
                  <mat-icon [ngStyle]="{ color: 'black' }">person</mat-icon>
                </mat-checkbox>
                {{ user.value }}
              </mat-option>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{ name: 'Sally' }">
              <mat-icon [ngStyle]="{ color: '#009688' }" style="width: 50px; height: 34px; font-size: 40px;">people
              </mat-icon>
            </button>
          </div>
        </div>
        <div class="barcode-title">

          <div class="location black thead"
            [ngClass]="this.by == 'location' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
            <a (click)="sortBy('location')">LOCATION</a>
          </div>
          <div class="stockid black thead"
            [ngClass]="this.by == 'stockid' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
            <a (click)="sortBy('stockid')">STOCK ID</a>
          </div>
          <div class="code black thead"
            [ngClass]="this.by == 'barcode' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
            <a (click)="sortBy('barcode')">BARCODE</a>
          </div>
          <div class="old_quantity w100 black thead"
            [ngClass]="this.by == 'old_quantity' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
            <a (click)="sortBy('old_quantity')">OLD QTY</a>
          </div>
          <ng-container *ngIf="user1columns=='1'">
            <div class="userid  w100 blue thead"
              [ngClass]="this.by == 'user_id' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('user_id')">USER</a>
            </div>
            <div class="qty w100 blue thead"
              [ngClass]="this.by == 'quantity' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('quantity')">QTY</a>
            </div>
            <div class="dif qty w100 blue thead"
              [ngClass]="this.by == 'dif' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('dif')">DIF</a>
            </div>
            <div class="dif w20 blue">
              <a (click)="ValidAll1()" *ngIf="mode=='all'">V</a>
            </div>
          </ng-container>
          <ng-container *ngIf="mode=='compare'&&user2columns=='1'">
            <div class="userid w100 pink thead"
              [ngClass]="this.by == 'uuser_id' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('uuser_id')">USER</a>
            </div>
            <div class="qty qty  w100 pink thead"
              [ngClass]="this.by == 'uquantity' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('uquantity')">QTY</a>
            </div>
            <div class="dif qty w100 pink thead"
              [ngClass]="this.by == 'udif' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('udif')">DIF</a>
            </div>
            <div class="dif w20 pink thead">

            </div>
          </ng-container>
          <ng-container *ngIf="mode=='all'&&user2columns=='1'">
            <div class="userid w100 pink thead"
              [ngClass]="this.by == 'user_id1' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('user_id1')">USER</a>
            </div>
            <div class="qty w100 pink thead"
              [ngClass]="this.by == 'quantity1' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('quantity1')">QTY</a>
            </div>
            <div class="dif qty  w100 pink thead"
              [ngClass]="this.by == 'dif1' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('dif1')">DIF</a>
            </div>
            <div class="dif w20 pink">
              <a *ngIf="mode=='all'" (click)="ValidAll2()">V</a>
            </div>
          </ng-container>
          <ng-container *ngIf="allcolumns=='1'">
            <div class="allqty brown w100 thead"
              [ngClass]="this.by == 'allquantity' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('allquantity')">ALL QTY</a>
            </div>
            <div class="allold_quantity w100 brown thead"
              [ngClass]="this.by == 'allold_quantity' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('allold_quantity')">ALL OLD QTY</a>
            </div>
            <div class="alldif w100 brown thead"
              [ngClass]="this.by == 'alldif' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('alldif')">ALL DIF</a>
            </div>
          </ng-container>
          <div *ngIf="user1columns=='1'" class="last_scan blue thead"
            [ngClass]="this.by == 'last_scan' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
            <a (click)="sortBy('last_scan')">LAST SCAN</a>
          </div>
          <ng-container *ngIf="mode=='all'&&user2columns=='1'">
            <div class="last_scan pink thead"
              [ngClass]="this.by == 'last_scan' ? this.sort == 'ask' ? 'sorting-asc':'sorting-desc':''">
              <a (click)="sortBy('last_scan')">LAST SCAN 2</a>
            </div>
          </ng-container>
        </div>

        <div class="content">
          <Form>
            <div class="filters-form">
              <div class="filters ">
                <div class="filter w300">
                  <div class="fields " *ngFor="let location of searchfilters.locations">
                    <label style="width: 80px;  margin-right: 10px;">
                      <input id="fromFname" class="w100" placeholder="From" [(ngModel)]="location.from" type="text">
                      <input id="toFname" class="w100" placeholder="To" [(ngModel)]="location.to" type="text">
                    </label>
                    <label>
                      <input id="fname"  style="width: 100%;" placeholder="StockID" [(ngModel)]="searchfilters.stockid"
                        type="text">
                    </label>
  
                  </div>
  
                </div>
  
                <div class="filter w200">
  
                  <div class="fields" *ngFor="let barcode of searchfilters.barcodes">
                    <label>
                      <input id="fname" class="w180" placeholder="Barcode" [(ngModel)]="barcode.barcode" type="text">
                    </label>
                  </div>
  
                </div>
                <div class="filter w100">
  
                  <div class="fields">
  
                    <label>
                      <!-- <input  id="fname" class="w180 qty" placeholder="BARCODE" [(ngModel)]="searchfilters.oldqty" type="text"> -->
                      <input id="fname" class="qty" [(ngModel)]="searchfilters.oldqty" type="text">
                      <select class="slk" [(ngModel)]="searchfilters.oldqtyopt" id="dropfname">
                        <option value="2">=</option>
                        <option value="3">!=</option>
                        <option value="0">&lt;</option>
                        <option value="1">&gt;</option>
  
                        <option value="4">&lt;=</option>
                        <option value="5">&gt;=</option>
                      </select>
                    </label>
  
                  </div>
  
                </div>
                <ng-container *ngIf="user1columns=='1'">
                  <div class="filter w100">
  
                    <div class="fields">
                      <label>
                        <select class="w80" id="dropfname1" (change)="setUser($event)">
                          <option value="">ALL</option>
                          <option [selected]="user.id==user_id" value="{{user.id}}" *ngFor="let user of users">
                            {{user.userid}}</option>
                        </select>
                      </label>
                    </div>
  
                  </div>
  
  
                  <div class="filter w200">
  
                    <div class="fields">
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.qty" type="text" id="fname">
                        <select [(ngModel)]="searchfilters.qtyopt" class="slk" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
  
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.dif" type="text" id="fname">
                        <select class="slk" [(ngModel)]="searchfilters.difopt" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="filter w20"></div>
                </ng-container>
  
                <ng-container *ngIf="user2columns=='1'">
                  <div class="filter w100">
  
                    <div class="fields">
                      <label>
                        <select class="w80" id="fname" (change)="setUser2($event)">
                          <option value="">ALL</option>
                          <option value="{{user.id}}" *ngFor="let user of users"> {{user.userid}}</option>
                        </select>
                      </label>
                    </div>
  
                  </div>
                  <div class="filter w200">
  
                    <div class="fields">
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.qty1" type="text" id="fname">
                        <select [(ngModel)]="searchfilters.qtyopt1" class="slk" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
  
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.dif1" type="text" id="fname">
                        <select class="slk" [(ngModel)]="searchfilters.difopt" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
                    </div>
  
                  </div>
                  <div class="filter w20"></div>
                </ng-container>
                <ng-container *ngIf="allcolumns=='1'">
                  <div class="filter w300">
  
                    <div class="fields ">
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.allqty" type="text" id="fname">
                        <select class="slk" [(ngModel)]="searchfilters.allqtyopt" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.alloldqty" type="text" id="fname">
                        <select class="slk" [(ngModel)]="searchfilters.alloldqtyopt" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
                      <label>
                        <input class="qty" [(ngModel)]="searchfilters.alldif" type="text" id="fname">
                        <select class="slk" [(ngModel)]="searchfilters.alldifopt" id="dropfname">
                          <option value="2">=</option>
                          <option value="3">!=</option>
                          <option value="0">&lt;</option>
                          <option value="1">&gt;</option>
  
                          <option value="4">&lt;=</option>
                          <option value="5">&gt;=</option>
                        </select>
                      </label>
                    </div>
  
                  </div>
                </ng-container>
                <ng-container *ngIf="user1columns=='1'">
                  <div class="filter w150" *ngFor="let scandate of searchfilters.scandates">
  
                    <div class="fields">
                      <label>
                        <input class="w130" [(ngModel)]="scandate.from" [matDatepicker]="picker" type="text"
                          (click)="picker.open()" id="fname">
  
                        <mat-datepicker #picker></mat-datepicker>
  
                      </label>
  
  
                    </div>
  
                  </div>
                </ng-container>
  
                <ng-container *ngIf="user2columns=='1'&&mode=='all'">
                  <div class="filter w150" *ngFor="let scandate of searchfilters.scandates1">
  
                    <div class="fields">
                      <label>
                        <input class="w130" [(ngModel)]="scandate.from" [matDatepicker]="picker" type="text"
                          (click)="picker.open()" id="fname">
  
                        <mat-datepicker #picker></mat-datepicker>
  
                      </label>
  
  
                    </div>
  
                  </div>
                </ng-container>
              </div>
  
            </div>
          </Form>
          
          <div class="barcode" *ngFor="let barcode of barcodes; let i=index"
            [class.barwarning]="barcode.stockid!=''&&barcode.original!='1'" [class.barok]="barcode.original=='1'"
            [class.barerror]="barcode.stockid==''">

            <div class="location" (click)="setLocation(barcode.location)">
              {{barcode.location}}
            </div>
            <div class="stockid" (click)="openPopup(barcode)">
              {{barcode.stockid}}
              <div class="editpopup" *ngIf="barcode.editpopup=='1'">
                <mat-icon (click)="open(barcode, i, mode); barcode.editform=0; barcode.editpopup='0'">mode_edit</mat-icon>
                <mat-icon (click)="deleteBarcode(barcode); barcode.editform=0; barcode.editpopup='0'">delete_sweep</mat-icon>
              </div>
            </div>
            <div class="code" (click)="setBarcode(barcode.barcode)">
              {{barcode.barcode}}

            </div>
            <div class="old_quantity w100">
              {{barcode.old_quantity}}

            </div>
            <ng-container *ngIf="user1columns=='1'">
              <div class="userid w100"
                [class.yellow]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif<'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.lightblue]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif>'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id!=''&&barcode.user_id!=null">
                {{barcode.user_id}}

              </div>
              <div class="qty w100"
                [class.yellow]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif<'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.lightblue]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif>'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id!=''&&barcode.user_id!=null">
                {{barcode.quantity}}

              </div>

              <div class="dif qty w100"
                [class.yellow]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif<'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.lightblue]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif>'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id!=''&&barcode.user_id!=null">
                {{barcode.dif}}
              </div>
              <div class="userid w20"
                [class.yellow]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif<'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.lightblue]="barcode.quantity!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif>'0'&&barcode.user_id!=''&&barcode.user_id!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id!=''&&barcode.user_id!=null">
                <input *ngIf="barcode.stockid!=''&&mode=='all'" (change)="Valid($event, barcode)" type="checkbox"
                  [checked]="barcode.outqty==barcode.quantity&&barcode.quantity>=0">
                <input *ngIf="barcode.stockid!=''&&mode=='compare'" (change)="Apply1($event, barcode)" type="checkbox"
                  [checked]="barcode.verified==1">
              </div>
            </ng-container>
            <ng-container *ngIf="mode=='compare'">

              <div class="userid w100">
                {{barcode.uuser_id}}
              </div>
              <div class="qty w100">
                {{barcode.uquantity}}
              </div>
              <div class="dif qty w100">
                {{barcode.udif}}
              </div>
              <div class="userid w20">
                <input *ngIf="barcode.uuser_id&&mode=='compare'&&barcode.stockid!=''" (change)="Apply2($event,barcode)"
                  type="checkbox" [checked]="barcode.uverified==1">
              </div>
            </ng-container>
            <ng-container *ngIf="mode=='all'&&user2columns=='1'">

              <div class="userid w100"
                [class.yellow]="barcode.quantity1!=barcode.old_quantity&&barcode.user_id1!=''&&barcode.user_id1!=null&&barcode.stockid!=''&&barcode.dif1<'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.lightblue]="barcode.quantity1!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif1>'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id1!=''&&barcode.user_id1!=null">
                {{barcode.user_id1}}
              </div>
              <div class="qty w100"
                [class.yellow]="barcode.quantity1!=barcode.old_quantity&&barcode.user_id1!=''&&barcode.user_id1!=null&&barcode.stockid!=''&&barcode.dif1<'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.lightblue]="barcode.quantity1!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif1>'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id1!=''&&barcode.user_id1!=null">
                <ng-container *ngIf="barcode.user_id1!=''&&barcode.user_id1!=null">
                  {{barcode.quantity1}}
                </ng-container>

              </div>
              <div class="dif qty w100"
                [class.yellow]="barcode.quantity1!=barcode.old_quantity&&barcode.user_id1!=''&&barcode.user_id1!=null&&barcode.stockid!=''&&barcode.dif1<'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.lightblue]="barcode.quantity1!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif1>'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id1!=''&&barcode.user_id1!=null">
                <ng-container *ngIf="barcode.user_id1!=''&&barcode.user_id1!=null">
                  {{barcode.dif1}}
                </ng-container>

              </div>
              <div class="userid w20"
                [class.yellow]="barcode.quantity1!=barcode.old_quantity&&barcode.user_id1!=''&&barcode.user_id1!=null&&barcode.stockid!=''&&barcode.dif1<'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.lightblue]="barcode.quantity1!=barcode.old_quantity&&barcode.stockid!=''&&barcode.dif1>'0'&&barcode.user_id1!=''&&barcode.user_id1!=null"
                [class.green]="(barcode.quantity==barcode.outqty&&barcode.outqty>=0||barcode.verified==1)&&barcode.user_id1!=''&&barcode.user_id1!=null">

                <input *ngIf="barcode.user_id1!=''&&barcode.user_id1!=null&&barcode.stockid!=''"
                  (change)="Valid2($event, barcode)" type="checkbox"
                  [checked]="barcode.outqty==barcode.quantity1&&barcode.quantity1>=0">

              </div>
            </ng-container>
            <ng-container *ngIf="allcolumns=='1'">
              <div class="allqty w100">
                {{barcode.allquantity}}
              </div>
              <div class="allold_quantity w100">
                {{barcode.allold_quantity}}
              </div>
              <div class="alldif w100">
                {{barcode.alldif}}
              </div>
            </ng-container>
            <div *ngIf="user1columns=='1'" class="last_scan">
              {{barcode.last_scan}}
            </div>
            <ng-container *ngIf="mode=='all'&&user2columns=='1'">
              <div class="last_scan">
                {{barcode.last_scan1}}
              </div>
            </ng-container>

            <div class="barcode-edit" *ngIf="barcode.editform==1">

              <div class="location">
                <ng-container *ngIf="barcode.original==1">
                  {{barcode.location}}
                </ng-container>
                <input *ngIf="barcode.original!=1" [(ngModel)]="barcode.location" type="text">

              </div>
              <div class="stockid">
                <div class="okpopup">
                  <mat-icon (click)="barcode.editform=0; barcode.editpopup='0'; updateBarcode(barcode,i)">check
                  </mat-icon>
                  <mat-icon (click)="barcode.editform=0; barcode.editpopup='0'; getBarcode(barcode,i)">
                    settings_backup_restore</mat-icon>
                </div>
                <ng-container *ngIf="barcode.original==1">
                  {{barcode.stockid}}
                </ng-container>
                <input *ngIf="barcode.original!=1" [(ngModel)]="barcode.stockid" type="text">


              </div>
              <div class="code">
                <ng-container *ngIf="barcode.original==1">
                  {{barcode.barcode}}
                </ng-container>
                <input *ngIf="barcode.original!=1" [(ngModel)]="barcode.barcode" type="text">
              </div>
              <div class="old_quantity w100">
                {{barcode.old_quantity}}

              </div>

              <div class="userid w100">
                <input [(ngModel)]="barcode.user_id" type="text">


              </div>
              <div class="qty w100">
                <input [(ngModel)]="barcode.quantity" maxlength="6" type="number">

              </div>

              <div class="dif qty w100">

              </div>
              <div class="userid w20">

              </div>

              <div class="userid w100" *ngIf="mode=='all'">
                <input [(ngModel)]="barcode.user_id1" type="text">

              </div>
              <div class="qty w100" *ngIf="mode=='all'">
                <input [(ngModel)]="barcode.quantity1" maxlength="6" type="number">

              </div>
              <div class="dif qty w100">

              </div>
              <div class="userid w20">

              </div>


            </div>
            <div class="barcode-edit" *ngIf="barcode.deletepopup==1">

              <div class="location">
                {{barcode.location}}

              </div>
              <div class="stockid">
                <div class="okpopup">
                  <mat-icon (click)="barcode.editform=0; barcode.editpopup='0'; deleteBarcode(barcode)">check</mat-icon>
                  <mat-icon (click)="barcode.deletepopup=0; barcode.editpopup='0';">settings_backup_restore</mat-icon>
                </div>
                {{barcode.stockid}}


              </div>
              <div class="code">
                {{barcode.barcode}}
              </div>
              <div class="old_quantity w100">
                {{barcode.old_quantity}}

              </div>

              <div class="userid w100">
                {{barcode.user_id}}


              </div>
              <div class="qty w100">
                {{barcode.quantity}}

              </div>

              <div class="dif qty w100">

              </div>
              <div class="userid w20">

              </div>

              <div class="userid w100" *ngIf="mode=='all'">
                {{barcode.user_id1}}

              </div>
              <div class="qty w100" *ngIf="mode=='all'">
                {{barcode.quantity1}}

              </div>
              <div class="dif qty w100">

              </div>
              <div class="userid w20">

              </div>



            </div>
          </div>
        </div>
        <ul class="pagination">

          <li *ngIf="startpage" class="paginate_button move">
            <a (click)="selectPage(startpage)">&laquo;&laquo; First</a>
          </li>
          <li *ngIf="prevpage" class="paginate_button move">
            <a (click)="selectPage(prevpage)"> &laquo; Prev</a>

          </li>
          <li [class.active]="page.page==current_page" *ngFor="let page of pages; let v=index" class="paginate_button">
            <a (click)="selectPage(page.page)">{{page.page}}</a>

          </li>
          <li *ngIf="nextpage" class="paginate_button move">
            <a (click)="selectPage(nextpage)"> Next &raquo;</a>

          </li>
          <li *ngIf="endpage" class="paginate_button move">
            <a (click)="selectPage(endpage)"> Last &raquo;&raquo; </a>

          </li>
        </ul>
      </div>
    </div>
  </div>

</div>