<div class="upload">
  <div class="form-group">
    <label for="files" appDDUpload (onFileDropped)="dropFile($event)">
      <div>{{text}}</div>
    </label>
    <input #file id="files" class="hidden" type="file" name="files[]" (change)="uploadFile($event)" />
  </div>
  <div class="options">
    <a class="action" (click)="resetAllScans()">RESET USER SCANS</a>
    <a class="action" (click)="resetOldScans()">RESET OLD QTY</a>
    <a class="action" (click)="deleteOldScans()">DELETE OLD QTY AND MODE1 SCANS</a>
    <a class="action" (click)="deleteMod2Scans()">DELETE MODE2 SCANS</a>
    <a class="action" (click)="deleteAll()">DELETE ALL</a>
  </div>
</div>